/* Media Queries */

@media screen and (min-width: 1200px) {
  .navbar-ex1-collapse {
	padding-left: 95px;
  }
}

@media (max-width: 768px) {
	#search, .position-carrinho .pull-right{
		top: 0 !important;	
	}
	#logo img{
		margin: 0 auto !important;
	}

}
.boss-category-image{
	max-width: 930px;
	overflow: hidden;
}


/*menu navbar*/
.navbar{
	border-radius: 0px;
}

/* navbar - icones - cart - */
#search {
	max-width: 440px;
	width: 100%;
	top: 25px;
	left: -2px;
	height: 10px;
}
#search .btn-lg{
	text-shadow: 0px 1px 0px #FFF;
	background-color: transparent;
	background-repeat: no-repeat;
	background-image: none;
	position: absolute;
	padding: 10px 35px;
	line-height: 18px;
	outline: 0px none;
	border: 0px none;
	font-size: 15px;
	cursor: pointer;
	opacity: 0.7;
	height: 15px;
	width: 15px;
	right: 0px;
	top: 1px;
	color: #0172CB;
	
}

#search > input{
	width: 100%;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	padding-right: 40px !important;
}

#search > span > button {
	box-shadow: none !important;
}

#cart{
	transition: border-color 0.2s ease 0s;
	border: 1px solid transparent;
	display: inline-block;
	border-radius: 22px;
	position: absolute;
	text-align: center;
	margin: 11px 10px 0;
	padding-top: 5px;
	font-size: 18px;
	cursor: pointer;
	height: 35px;
	width: 35px;
}

#cart:hover{
	border: 1px solid #00AFF3;
}

#cart a{
	display: block;
	margin-top: 5px;
	margin-left: 8px;
	height: 18px;
	width: 17px;
	background-image: url("/reparosemlagrima/images/icons/icons_menu2.png");
	background-position: -116px 0;
}

/* man category */
.main-category{
	position: relative;
	overflow: hidden;
	text-align: center;
	-webkit-transition:all 1.0s ease-in-out;
	-moz-transition:all 1.0s ease-in-out;
	-o-transition:all 1.0s ease-in-out;
	transition:all 1.0s ease-in-out;
}
.main-category .store {
	display: inline-block;
	width: 440px;
	height: 348px;
	overflow: hidden;
	position: relative;
	/*background: #F0F0F0 none repeat scroll 0% 0%;*/
	text-align: center;
	cursor: pointer;
	padding-top: 130px;
	color: white;


}

.store{
	transition: background-color 0.3s ease 0s;
}

.catitem{
	float: left;
	margin-right: 50px;
}

.main-category .ampersand{
	display: block;
	position: absolute;
	top: 45px;
	left: 427px;
	margin: auto;
	width: 86px;
	height: 86px;
	background-color: #FFF;
	z-index: 5;
	border-radius: 43px;
	font-size: 36px;
	font-weight: 300;
	text-align: center;
	line-height: 86px;
}

div.navBulletsWrapper{
	margin-top: 10px;
	text-align: center;
}

div.navBulletsWrapper div {
	border: none;
	display: inline-block;
	width: 14px;
	height: 14px;
	background-color: #EAE7E7;
	font-size: 0;
	margin: 2px;
	cursor: pointer;
	border-radius: 11px;
	box-shadow: inset 0 1px 3px #b3b3b3;
}

div.navBulletsWrapper div.active {
	background-color: #1293dc;
	box-shadow: inset 0 1px 3px -1px #0172CB,0 1px 1px rgba(0,0,0,0.06);
	background-image: linear-gradient(top,#0172CB,#0f6297);
}

.repair-icon{
	width: 24px;
	height: 24px;
	text-align: center;
	font-size: 24px;
}

.shadow{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: 0 0 6px #ccc;
	-moz-box-shadow: 0 0 6px #ccc;
	box-shadow: 0 0 6px rgba(98, 98, 98, 0.87);
}

div.container.shadow {
	max-width: 960px;
	padding-top: 15px;
	min-height: 900px !important;
}
#logo{ margin: 0 !important}
.col-sm-3{ height: 70px}
#logo img{ margin: 20px auto 5px 0; width: 180px;}
.position-carrinho .pull-right{ position: relative; top: 15px}



/* Slide show home*/

.owl-carousel{
	margin: 0 !important;

 }
 .owl-wrapper-outer{
	border: 0 !important;
	border-radius: 0 !important;
	box-shadow: none !important;
 }

 

@media screen and (max-width: 1200px){
	#search{
		max-width: 373px;
		left: 42px;
	}
}

@media screen and (max-width: 1024px){
	#search{
		max-width: 315px;
		left: 90px;
	}
}