body {
	font-family: 'Roboto', sans-serif;
	color: #666;
	font-size: 14px;
	width: 100%;
	line-height: 24px;
	font-weight: 100;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */
h1 {
	font-size: 33px;
}
h2 {
	font-size: 27px;
}
h3 {
	font-size: 21px;
}
h4 {
	font-size: 15px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 10.2px;
}
a {
	color: #0072CB;
	font-weight: 400;
}
a:hover {
	text-decoration: none;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 14px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 14px;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 14px;
}
.input-group .input-group-addon {
	font-size: 14px;
	height: 30px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}

.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* Gradent to all drop down menus */
.dropdown-menu li > a:hover {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
/* top */
#top {
	background-color: #EEEEEE;
	border-bottom: 1px solid #e2e2e2;
	padding: 4px 0px 3px 0;
	margin: 0 0 20px 0;
	min-height: 40px;
}
#top .container {
	padding: 0 20px;
}
#top #currency .currency-select {
	text-align: left;
}
#top #currency .currency-select:hover {
	text-shadow: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#top .btn-link, #top-links li, #top-links a {
	color: #888;
	text-shadow: 0 1px 0 #FFF;
	text-decoration: none;
}
#top .btn-link:hover, #top-links a:hover {
	color: #444;
}
#top-links .dropdown-menu a {
	text-shadow: none;
}
#top-links .dropdown-menu a:hover {
	color: #FFF;
}
#top .btn-link strong {
	font-size: 14px;
		line-height: 14px;
}
#top-links {
	padding-top: 6px;
}
#top-links a + a {
	margin-left: 15px;
}
/* logo */
#logo {
	margin: 0 0 10px 0;
}
/* search */
#search {
	margin: 0 auto;
	position: relative;
	top: 25px;
}
#search .input-lg {
	height: 40px;
	line-height: 20px;
	padding: 0 10px;
}
#search .btn-lg {
	font-size: 15px;
	line-height: 18px;
	padding: 10px 35px;
	text-shadow: 0 1px 0 #FFF;
}
/* cart */
#cart {
	margin-bottom: 10px;
}
#cart > .btn {
	font-size: 14px;
	line-height: 18px;
	color: #FFF;
}
#cart.open > .btn {
	background-image: none;
	background-color: #FFFFFF;
	border: 1px solid #E6E6E6;
	color: #666;
	box-shadow: none;
	text-shadow: none;
}
#cart.open > .btn:hover {
	color: #444;
}
#cart .dropdown-menu {
	background: #eee;
	z-index: 1001;
}
#cart .dropdown-menu {
	min-width: 100%;
}
@media (max-width: 478px) {
	#cart .dropdown-menu {
		width: 100%;
	}
}
#cart .dropdown-menu table {
	margin-bottom: 10px;
}
#cart .dropdown-menu li > div {
	min-width: 427px;
	padding: 0 10px;
}
@media (max-width: 478px) {
	#cart .dropdown-menu li > div {
		min-width: 100%;
	}
}
#cart .dropdown-menu li p {
	margin: 20px 0;
}
/* menu */
#menu {
	background-color: rgb(0, 175, 243);/* #0072CB; */
	/*background-image: linear-gradient(to bottom, rgba(131, 131, 131, 0.86), rgb(0, 0, 0));*/
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
	min-height: 55px;
	height: 55px;
}
#menu .nav > li > a {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	padding: 20px 15px;
	min-height: 30px;
	background-color: transparent;
	text-transform: uppercase;
}
#menu .nav > li > a:hover, #menu .nav > li.open > a {
	background-color: rgba(0, 0, 0, 0.1);
}
#menu .dropdown-menu {
	padding-bottom: 0;
}
#menu .dropdown-inner {
	display: table;
}
#menu .dropdown-inner ul {
	display: table-cell;
}
#menu .dropdown-inner a {
	min-width: 160px;
	display: block;
	padding: 3px 20px;
	clear: both;
	line-height: 20px;
	color: #333333;
	font-size: 14px;
}
#menu .dropdown-inner li a:hover {
	color: #FFFFFF;
}
#menu .see-all {
	display: block;
	margin-top: 0.5em;
	border-top: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
	font-size: 14px;
}
#menu .see-all:hover, #menu .see-all:focus {
	text-decoration: none;
	color: #ffffff;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
}
#menu #category {
	float: left;
	padding-left: 15px;
	font-size: 16px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
#menu .btn-navbar {
	font-size: 15px;
	font-stretch: expanded;
	color: #FFF;
	padding: 2px 18px;
	float: right;
	background-color: #229ac8;
	background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
	color: #ffffff;
	background-color: #229ac8;
}
@media (min-width: 768px) {
	#menu .dropdown:hover .dropdown-menu {
		display: block;
	}
}
@media (max-width: 767px) {
	#menu {
		border-radius: 4px;
	}
	#menu div.dropdown-inner > ul.list-unstyled {
		display: block;
	}
	#menu div.dropdown-menu {
		margin-left: 0 !important;
		padding-bottom: 10px;
		background-color: rgba(0, 0, 0, 0.1);
	}
	#menu .dropdown-inner {
		display: block;
	}
	#menu .dropdown-inner a {
		width: 100%;
		color: #fff;
	}
	#menu .dropdown-menu a:hover,
	#menu .dropdown-menu ul li a:hover {
		background: rgba(0, 0, 0, 0.1);
	}
	#menu .see-all {
		margin-top: 0;
		border: none;
		border-radius: 0;
		color: #fff;
	}
}
/* content */
#content {
	min-height: 600px;
}
/* footer */
footer {
	margin-top: 30px;
	padding-top: 30px;
	background-color: #0072cb;
	border-top: 3px solid #0C5EA2;
	color: #e2e2e2;
}
footer hr {
	border-top: none;
	border-bottom: 2px solid #3387cb;
}
footer a {
	color: rgba(221, 240, 255, 0.63);
}
footer a:hover {
	color: #fff;
}
footer h5 {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}
/* alert */
.alert {
	padding: 8px 14px 8px 14px;
}
/* breadcrumb */
.breadcrumb {
	margin: 0 0 20px 0;
	padding: 8px 0;
	border: 1px solid #ddd;
}
.breadcrumb i {
	font-size: 15px;
}
.breadcrumb > li {
	text-shadow: 0 1px 0 #FFF;
	padding: 0 20px;
	position: relative;
	white-space: nowrap;
}
.breadcrumb > li + li:before {
	content: '';
	padding: 0;
}
.breadcrumb > li:after {
	content: '';
	display: block;
	position: absolute;
	top: -3px;
	right: -5px;
	width: 26px;
	height: 26px;
	border-right: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.pagination {
	margin: 0;
}
/* buttons */
.buttons {
	margin: 1em 0;
}
.btn {
	padding: 7.5px 12px;
	font-size: 14px;
	border: 1px solid #cccccc;
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.btn-xs {
	font-size: 9px;
}
.btn-sm {
	font-size: 10.2px;
}
.btn-lg {
	padding: 10px 16px;
	font-size: 15px;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
	font-size: 14px;
}
.btn-group > .btn-xs {
	font-size: 9px;
}
.btn-group > .btn-sm {
	font-size: 10.2px;
}
.btn-group > .btn-lg {
	font-size: 15px;
}
.btn-default {
	color: #fff;
	text-shadow: 0 1px 0 rgba(132, 130, 130, 0.5);
	background-color: #d2322d;	
	border-color: #C1231E;
}
.btn-primary {
	color: #ffffff;
	text-shadow: 0 1px 0 rgba(88, 86, 86, 0.5);
	background: #0072cb;
	
	background-repeat: repeat-x;
	border-color: #1f90bb #1f90bb #145e7a;
	  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  -webkit-backface-visibility: hidden;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {

  background-color: #1e85d5;
  color: #ffffff;
  /* 2 */
  outline: none;
  /* 3 */
  text-decoration: none;

}
.btn-warning {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #da4f49;
	background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
	background-repeat: repeat-x;
	border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #5bb75b;
	background-image: linear-gradient(to bottom, #62c462, #51a351);
	background-repeat: repeat-x;
	border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
	box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #df5c39;
	background-image: linear-gradient(to bottom, #e06342, #dc512c);
	background-repeat: repeat-x;
	border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.btn-link {
	border-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	color: #23A1D1;
	border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
	background-color: rgba(0, 0, 0, 0);
	background-image: none;
	box-shadow: none;
}
.btn-inverse {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
	background-color: #222222;
	background-image: linear-gradient(to bottom, #333333, #111111);
}
/* list group */
.list-group a {
	border: 1px solid #DDDDDD;
	color: #888888;
	padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
	color: #444444;
	background: #eeeeee;
	border: 1px solid #DDDDDD;
	text-shadow: 0 1px 0 #FFF;
}
/* carousel */
.carousel-caption {
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
	content: '\f053';
	font-family: FontAwesome;
}
.carousel-control .icon-next:before {
	content: '\f054';
	font-family: FontAwesome;
}
/* product list */
.product-thumb {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	overflow: auto;
}
.product-thumb .image {
	text-align: center;
}
.product-thumb .image a {
	display: block;
}
.product-thumb .image a:hover {
	opacity: 0.8;
}
.product-thumb .image img {
	margin-left: auto;
	margin-right: auto;
}
.product-grid .product-thumb .image {
	float: none;
}
@media (min-width: 767px) {
.product-list .product-thumb .image {
	float: left;
	padding: 0 15px;
}
}
.product-thumb h4 {
	font-weight: bold;
}
.product-thumb .caption {
	padding: 0 20px;
	min-height: 180px;
}
.product-list .product-thumb .caption {
	margin-left: 230px;
}
@media (max-width: 1200px) {
.product-grid .product-thumb .caption {
	min-height: 210px;
	padding: 0 10px;
}
}
@media (max-width: 767px) {
.product-list .product-thumb .caption {
	min-height: 0;
	margin-left: 0;
	padding: 0 10px;
}
.product-grid .product-thumb .caption {
	min-height: 0;
}
}
.product-thumb .rating {
	padding-bottom: 10px;
}
.rating .fa-stack {
	font-size: 8px;
}
.rating .fa-star-o {
	color: #999;
	font-size: 15px;
}
.rating .fa-star {
	color: #FC0;
	font-size: 15px;
}
.rating .fa-star + .fa-star-o {
	color: #E69500;
}
h2.price {
	margin: 0;
}
.product-thumb .price {
	color: #444;
}
.product-thumb .price-new {
	font-weight: 600;
}
.product-thumb .price-old {
	color: #999;
	text-decoration: line-through;
	margin-left: 10px;
}
.product-thumb .price-tax {
	color: #999;
	font-size: 14px;
	display: block;
}
.product-thumb .button-group {
	border-top: 1px solid #ddd;
	background-color: #eee;
	overflow: auto;
}
.product-list .product-thumb .button-group {
	border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
	.product-list .product-thumb .button-group {
		border-left: none;
	}
}
.product-thumb .button-group button {
	width: 60%;
	border: none;
	display: inline-block;
	float: left;
	background-color: #d2322d;
	color: #fff;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}
.product-thumb .button-group button + button {
	width: 20%;
	border-left: 1px solid #b33430;
}
.product-thumb .button-group button:hover {
	color: #d2322d;
	background-color: #EFEFEF;
	text-decoration: none;
	cursor: pointer;
}
@media (max-width: 1200px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
@media (max-width: 767px) {
	.product-thumb .button-group button, .product-thumb .button-group button + button {
		width: 33.33%;
	}
}
.thumbnails {
	overflow: auto;
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0;
}
.thumbnails > li {
	margin-left: 20px;
}
.thumbnails {
	margin-left: -20px;
}
.thumbnails > img {
	width: 100%;
}
.image-additional a {
	margin-bottom: 20px;
	padding: 5px;
	display: block;
	border: 1px solid #ddd;
}
.image-additional {
	max-width: 78px;
}
.thumbnails .image-additional {
	float: left;
	margin-left: 20px;
}

@media (min-width: 1200px) {
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-2:nth-child(6n+1),
	#content .col-lg-3:nth-child(4n+1),
	#content .col-lg-4:nth-child(3n+1),
	#content .col-lg-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-2:nth-child(6n+1),
	#content .col-md-3:nth-child(4n+1),
	#content .col-md-4:nth-child(3n+1),
	#content .col-md-6:nth-child(2n+1) {
		clear:left;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-2:nth-child(6n+1),
	#content .col-sm-3:nth-child(4n+1),
	#content .col-sm-4:nth-child(3n+1),
	#content .col-sm-6:nth-child(2n+1) {
		clear:left;
	}
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
	#column-left  .product-layout .col-md-3 {
	   width: 100%;
	}

	#column-left + #content .product-layout .col-md-3 {
	   width: 50%;
	}

	#column-left + #content + #column-right .product-layout .col-md-3 {
	   width: 100%;
	}

	#content + #column-right .product-layout .col-md-3 {
	   width: 100%;
	}
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
	width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
	min-width: 50px;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
	background-image: none;
	background-color: #df5c39;
}
.box-pwby{ margin-top: 5px}
.text-power-by{ float: right; color: rgba(51, 51, 51, 0.34); font-size: 12px}
.text-power-by a{ color:rgba(0, 112, 203, 0.53) }

/*
 * 
 * ITENS NOVOS CRIADOS - MANUTENÇÃO MARIANA LINO
 *
 */

br{
	clear: both;
}

header{
	width: 100%;
	height: 159px;
	position: relative;
	z-index: 999;
}
 
header div.container{
	position: fixed;
	top: 0;
 	background-color: #fff;
	height: 99px;
	width: 100%;
	margin: 0;
	padding: 0;
}
 
header div.row{
	position: relative;
	height: 99px;
	max-width: 1350px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

header + div{
	margin: 20px 0 30px;
}

#logo{
	height: 48px;
	width: 318px;
	float: left;
	position: relative;
	top: 22px;
	left: 20px;
	background-image: url('http://localhost/reparosemlagrima/images/logo/logo_interno.png');
	background-position: -7px -1px;
	background-size: 330px;
	background-repeat: no-repeat;
}

#logo a{
	display: block;
	width: 100%;
	height: 100%;
}

#search .input-group-btn i{
	margin-left: 4px;
}

.position-carrinho .pull-left{
	margin-top: 15px;
	margin-left: 25px;
}

.position-carrinho .pull-left > div{
	margin: 10px 0 0 57px;
}

.position-carrinho .pull-left div:not(#cart) a{
	color: #00AFF3;
}

.position-carrinho .pull-left div:not(#cart) a:hover{
	color: #0074C7;
}

#menu{
	position: fixed;
	top: 99px;
	width: 100%;
	height: 60px;
	margin: 0;
	padding: 0;
}

#menu .menu_principal{
	list-style: none;
	padding: 0 !important;
	margin: 0 auto;
	height: 60px;
	max-width: 1100px;
	width: 100%;
}

.menu_principal li, .menu_principal li a, .menu_principal li a em{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.menu_principal li{
	float: left;
	height: 60px;
	line-height: 60px;
	width: 25%;
	text-align: center;
	position: relative;
}

.menu_principal li::before{
	position: absolute;
	display: block;
	content: '';
	top: 56px;
	left: 0;
	width: 100%;
	background-image: linear-gradient(-90deg,rgba(0,113,206,0) 0,#9ee2fc 51%,rgba(0,113,206,0) 100%);
	opacity: 0;
	height: 4px;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	z-index: 0;
	transition: all .2s;
}

.menu_principal li:hover::before {
	transform: scaleX(1);
	opacity: 1;
}

.menu_principal li a{
	font-weight: 300;
	font-size: 17px;
	position: relative;
	padding-left: 10px;
	color: #fff;
	display: inline-block;
	text-transform: uppercase;
}

.menu_principal li a::before{
	position: absolute;
	display: block;
	content: '';
	top: 39px;
	left: 7px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.7);
	opacity: 0;
	height: 1px;
	-webkit-transform: scaleX(0);
	-ms-transform: scaleX(0);
	transform: scaleX(0);
	z-index: 0;
	transition: all .2s;
}

.menu_principal li:hover a::before {
	transform: scaleX(1);
	opacity: 1;
}

.menu_principal li:hover a{
	color: #9ee2fc;
}

.menu_principal .icon_menu{
	height: 24px;
	width: 29px;
	position: absolute;
	top: 17px;
	left: -25px;
	background-repeat: no-repeat;
	background-image: url("/reparosemlagrima/images/icons/icons_menu2.png");
}

.menu_principal .icon_menuhome{
	background-position: 0 0;
}

.menu_principal .icon_menututorial{
	background-position: -29px 0px;
}

.menu_principal .icon_menuforum{
	background-position: -58px 0px;
}

.menu_principal .icon_menuloja{
	background-position: -87px 0px;
}

footer{
	background-color: #00AEF3;
	border-top: 3px solid #1C99DC;
	padding: 0 0 20px 0;
	margin: 0;
}

footer .container{
	padding-top: 35px;
	padding-bottom: 16px;
	max-width: 1200px;
	width: 100%;
}

footer .container > div{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

footer .container .col-sm-3{
	float: left;
	width: 25%;
	padding-right: 15px;
	padding-left: 15px;
	height: 100%;
	max-width: 292px;
}

footer .container .col-sm-3:last-of-type{
	padding-right: 0;
}

footer .container .col-sm-3 h5{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	letter-spacing: -0.4px;
	line-height: 17px;
	margin: 10px 0;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}

footer .container .col-sm-3 li{
	float: none;
	width: 100%;
	position: relative;
}

footer .container .col-sm-3 a{
	color: #ADE9F9;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: -0.2px;
}

footer .container .col-sm-3 a:hover{
	color: #DBF7FF;
}

footer .line_bottom {
	margin: 0 auto;
	width: 1140px;
	height: 2px;
	background: #64C5F2;
	display: block;
}

footer + div{
	height: 40px;
}

footer + div p{
	font-weight: 300;
	line-height: 33px;
	font-size: 13px;
	letter-spacing: 0.4px;
	margin: 0;
}

#categorias_loja{
	max-width: 925px;
	height: 505px;
	position: relative;
	left: 3px;
	padding: 0;
	margin: 0;
}

#categorias_loja > div{
	width: 100% !important;
	max-width: 100%;
	height: 100%;
}

#categorias_loja > div > a{
	display: block;
	width: 100%;
	max-width: 435px;
	height: 100%;
	max-height: 350px;
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: all .2s;
}

#categorias_loja > div > a:nth-of-type(1){
	float: left;
	background-image: url('/reparosemlagrima/loja/image/catalog/ferramentas-1.jpg');
}

#categorias_loja > div > a:nth-of-type(2){
	float: right;
	background-image: url('/reparosemlagrima/loja/image/catalog/pecas-1.jpg');
}

#categorias_loja > div > a:hover:nth-of-type(1){
	float: left;
	background-image: url('/reparosemlagrima/loja/image/catalog/ferramentas-2.jpg');
}

#categorias_loja > div > a:hover:nth-of-type(2){
	float: right;
	background-image: url('/reparosemlagrima/loja/image/catalog/pecas-2.jpg');
}

#categorias_loja #banner_recicla{
	float: left;
	max-width: 942px;
	width: 100%;
	max-height: 100px;
	margin-top: 47px;
	background-image: url('/reparosemlagrima/loja/image/catalog/banner_reciclar.jpg');
}

body.common-home > div.container > div.row > div.content > h3{
	color: red;
	margin-top: 12px;
}

.product-thumb a{
	color: #00AEF3;
}

.product-thumb a:hover{
	color: #1C99DC;
}

.product-thumb .button-group button{
	background-color: #00AEF3;
}

.product-thumb .button-group button + button{
	border-left: 1px solid #1C99DC;
}

.product-thumb .button-group button:hover{
	color: #00AEF3;
}